@import url(../assets/fonts/stylesheet.css);

// Colors
:root {
  --color_blue0: #02101c;
  --color_blue50: #1e2e50;
  --color_blue100: #00f4ff;
  --color_pink50: #ff0054;
  --color_red50: #f82754;
  --color_yellow50: #f7df2e;
  --fontFamily_avantGardeBook: 'ITC Avant Garde Std Book', sans-serif;
  --fontFamily_avantGardeBold: 'ITC Avant Garde Std Bold', sans-serif;
}

.bgColor_blue50 {
  background-color: var(--color_blue50);
}

.bgColor_pink50 {
  background-color: var(--color_pink50);
}

:link,
:visited {
  color: blue;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr 200px;
  height: 100vh;
  min-height: 750px;
  background-color: var(--color_blue0);
  color: var(--color_blue100);
  font-family: monospace;
  font-size: 14px;
}

div {
  border: 1px solid var(--color_blue100);
}

strong {
  font-weight: normal;
}

h1 {
  font-family: var(--fontFamily_avantGardeBold);
}
h2,
h4 {
  font-family: var(--fontFamily_avantGardeBook);
  color: var(--color_yellow50);
}
h3 {
  font-family: var(--fontFamily_avantGardeBold);
  color: var(--color_pink50);
}
a {
  font-family: var(--fontFamily_avantGardeBold);
}

input,
select {
  display: block;
  border: 1px solid var(--color_blue100);
  background-color: var(--color_blue50);
  color: var(--color_blue100);
}

input {
  padding: 5px 10px;
}

select {
  width: 100%;
  padding: 5px 5px;
}

button {
  background-color: var(--color_blue50);
  color: white;
  border: 0;
  border-radius: 3px;
  font-family: var(--fontFamily_avantGardeBook);
  height: 40px;
  padding: 5px 20px 0;

  &:hover {
    cursor: pointer;
  }
}

////////////
// Scrollbar

// Width
::-webkit-scrollbar {
  width: 14px;
}

// Track
::-webkit-scrollbar-track {
  background: var(--color_blue0);
  border-left: 2px solid var(--color_blue0);
}

// Handle
::-webkit-scrollbar-thumb {
  background: var(--color_blue50);
  border-left: 2px solid var(--color_blue0);
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: var(--color_pink50);
}
